/******* CSS reset *******/

h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {
    margin: 0px;
    padding: 0px;
}

h3 {
    color: white;
}

/************** LOGIN PAGE **************/

.index_body {
    background-color: rgb(0, 14, 54);
}

.header_index {
    text-align: center;
    color: white;
    padding: .4em;
}

.main_title {
    color: white;
    text-align: center;
    margin-top: .6em;
}

.main_area {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    vertical-align: top;
    padding: 2em;
    margin: 2em;
}

.register {
    width: 50%;
    margin: 1em 1em 5em 2em;
    color: white;
    background: linear-gradient(180deg, #0a1120 0%, #28406d 100%);
    -webkit-box-shadow: 13px 13px 7px -9px rgba(0, 0, 0, 0.75);
    border-radius: .3em;
    padding: .8em;
}

.login {
    width: 50%;
    margin: 5em 2em 5em 1em;
    color: white;
    background-color: rgb(32, 32, 32);
    background: linear-gradient(180deg, #0a1120 0%, #28406d 100%);
    -webkit-box-shadow: 13px 13px 7px -9px rgba(0, 0, 0, 0.75);
    border-radius: .3em;
    padding: .8em;
}

.register h3, .login h3 {
    text-align: center;
    padding-bottom: 1em;
}

.messages {
    color: white;
    padding-top: .8em;
    margin-bottom: 0em;
    text-align: center;
    list-style: none;
}

/*************** HEADERS ***************/

.header {
    height: 10vh;
    margin-bottom: 3em;
}

.header_title {
    position: absolute;
    left: 0em;
    margin-left: .9em;
    color: white;
    padding: .4em;
}

.head_btn {
    position: absolute;
    right: 1.9em;
    padding: 1em;
}

.head_1 {
    margin-left: .5em;
}

/*************** DASHBOARD PAGE  ***************/

.thought_input {
    padding: 0em 2.5em;
}

.line1 {
    border-top: solid 1px white;
    margin: 2.5em 2.6em;
}

.thoughts{
    margin: 2em 3em 0em 3em;
    padding: 1em;
    background: linear-gradient(180deg, #0a1120 0%, #28406d 100%);
    -webkit-box-shadow: 13px 13px 7px -9px rgba(0, 0, 0, 0.75);
    border-radius: .3em;
}

.delete {
    height: 2.6em;
    margin: 0em 2em;
}

.thought_desc{
    background-color: white;
    border-radius: .2em;
    padding: .5em;
    color: black;
}

.thought_foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomt{
    margin: 0em 3em;
    vertical-align: middle;
    color: white;
}

.thought_likes {
    float: right;
}

/*************** DEATIL PAGE  ***************/

.main_area_detail {
    background: linear-gradient(180deg, #262b35 0%, #2c2c2c 100%);
    -webkit-box-shadow: 13px 13px 7px -9px rgba(0, 0, 0, 0.75);
    align-items: flex-start;
    padding: .5em 2em ;
    margin: 2em;
}

.thoughts_detail {
    margin: 2em 3em 3em 3em;
    padding: 1em;
    background: linear-gradient(180deg, #0a1120 0%, #28406d 100%);
    -webkit-box-shadow: 13px 13px 7px -9px rgba(0, 0, 0, 0.75);
    border-radius: .3em;
}

.like_btn {
    float: right;
    right: 1.9em;
}

.like_1 {
    margin-left: .5em;
    padding: 0em;
}
p{
    color: white;
}

h6 {
    color: white;
}

